<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- navbar-header -->
    <div class="navbar-header">
      <!-- <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#lgl-navbar"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->

      <a *ngIf="!isLoggedIn" class="navbar-brand" routerLink=""
        >Let's Get Lunch</a
      >
      <a
        *ngIf="isLoggedIn"
        class="navbar-brand"
        routerLink="/dashboard"
        >Let's Get Lunch</a
      >
    </div>

    <!-- navbar-collapse -->
    <div class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item mr-2" *ngIf="!isLoggedIn">
          <a
            class="navbar-link"
            data-test="signup"
            routerLink="/signup"
            >Signup</a
          >
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="navbar-link" data-test="login" routerLink="/login"
            >Login</a
          >
        </li>

        <li class="nav-item" *ngIf="isLoggedIn">
          <a
            class="nav-link"
            data-test="logout"
            routerLink=""
            (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
